{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  {% for page in page_branch|dictsortreversed:"publish_date" %}
      <div class="col-md-4 portfolio-item">
        <a href="{{ page.get_absolute_url }}">
            <img class="img-responsive img-thumbnail" src="{{ STATIC_URL|add:'img/posts/thumbnails/'|add:page.html_id |add:'.jpg'}}" onerror="this.src='http://placehold.it/700x400'" alt="{{ page.title }}">
        </a>
        <h3>
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        </h3>
        <p>{{ page.description }}
         <a href="{{ page.get_absolute_url }}">{% trans " Read more.." %}</a>
         </p>

    {# wrap the next line with 'if page.is_current_or_ascendant' #}
    {# to only show child pages in the menu for the current page #}
    {# {% if page.has_children_in_menu %}{% page_menu page %}{% endif %} #}
    </div>
  {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
